.homepage-title {
    font-family: "Covered By Your Grace";
    font-size: 100px;
    color: rgb(49, 66, 108);
}

.homepage-sub-title {
    font-family: "Shadows Into Light";
    font-size: 70px;
    color: rgb(49, 66, 108);
}